<!-- templates/app/profile.html -->
{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
<h2>Profil de {{ user.username }}</h2>
<p><strong>Email :</strong> {{ user.email }}</p>
<p><strong>Rôle :</strong> {{ user.get_role_display }}</p>
<p><strong>Statut :</strong> {{ user.get_statut_display }}</p>
<p><strong>Plan d'Abonnement :</strong> {{ user.get_plan_abonnement_display }}</p>
{% if user.role == 'CANDIDAT' %}
    <p><strong>Compétences :</strong> {{ user.candidat.competences }}</p>
{% elif user.role == 'RECRUTEUR' %}
    <p><strong>Entreprise :</strong> {{ user.recruteur.entreprise }}</p>
    <p><strong>Secteur d'Activité :</strong> {{ user.recruteur.secteur_activite }}</p>
{% endif %}
{% endblock %}
